.contactInfo {
     width: 820px;
     
     background: var(--ECF7FF, #ecf7ff);
     border-radius: 8px;
 }
 .header-contact {
     width: 100%;
     height: 30px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 17px;
     background-color: #07407b;
     border-top-right-radius: 8px;
     border-top-left-radius: 8px;
 }
 .title-contact {
     color: #fff;
     font-size: 14px;
     font-weight: 400;
 }
 .icon-close {
     cursor: pointer;
 }
 .body-contact {
     width: 100%;
     height: 100%;
     box-sizing: border-box;
     padding: 16px;
     display: flex;
     flex-direction: column;
     gap: 24px;
 }
 .frame-list-input {
     display: flex;
     justify-content: space-between;
 }
 
 .Frame-input-left,
 .Frame-input-right {
     display: flex;
     flex-direction: column;
     gap: 24px;
 }
 .Frame-input-big {
     display: flex;
     flex-direction: column;
     gap: 5px;
 }
 .Frame-input {
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 68px;
     justify-content: space-between;
 }
 .Label-input {
     color: var(--0E0F3B, #0e0f3b);
     font-size: 14px;
 
     font-weight: 400;
 }
 .Style-input {
     width: 100%;
     height: 45px;
     border-radius: 5px;
     border: 1px solid var(--09224B, rgba(9, 34, 75, 0.22));
     box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
     padding: 0 15px;
     color: #000;
     font-size: 16px;
 }
 .Input_styles-big {
     width: 100%;
     max-height: 100px;
     border-radius: 5px;
     border: 1px solid var(--09224B, rgba(9, 34, 75, 0.22));
     box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
     padding: 0 15px;
     color: #000;
     font-size: 16px;
 }
 
 
 //
 //custom checkbox
 .Icon_check,
 .Icon_uncheck {
     width: 15px;
     line-height: 15px;
 }
 .Checkbox input[type='radio'] {
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     width: 0;
     height: 0;
     position: absolute;
     opacity: 0;
 }
 .Checkbox .Icon_uncheck {
     display: inline-block;
 }
 .Checkbox .Icon_check {
     display: none;
 }
 .Checkbox input[type='radio']:checked + label .Icon_uncheck {
     display: none;
 }
 .Checkbox input[type='radio']:checked + label .Icon_check {
     display: inline-block;
 }
 .Label_checkbox {
     display: flex;
     align-items: center; /* Căn giữa theo chiều dọc */
     cursor: pointer;
     width: 20px;
     height: 20px;
 }
 .Checkbox {
     display: flex;
     align-items: center;
     gap: 6px;
   
 }
 //
 .Text_checkbox {
     color: var(--0E0F3B, #0e0f3b);
     font-size: 14px;
     font-weight: 400;
 }
 .Frame_list-checkbox {
     // max-width: 718px;
     width: 100%;
     display: flex;
     flex-direction: column;
    
 }
 .Frame-checkbox {
     display: flex;
     flex-direction: column;
     gap: 5px;
 }
 .List_checkbox {
     display: flex;
     flex-direction: column;
     gap: 17px;
 }
 .List_checkbox-child {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px; /* Khoảng cách giữa các ô */
 }
 .Flex-input {
     display: flex;
     flex-direction: column;
     gap: 24px;
 }
 
 //
 .Frame-input-cv {
     display: flex;
     flex-direction: column;
     gap: 5px;
 }
 .Input_styles-nolmal {
     width: 100%;
     height: 45px;
     border-radius: 5px;
     border: 1px solid var(--09224B, rgba(9, 34, 75, 0.22));
     box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
     padding: 10px 15px;
     color: #000;
     font-size: 16px;
     
 }
 //Frame-btn-submit
 .Frame-btn-submit {
     display: flex;
     justify-content: center;
 }
 .btn-submit {
     border-radius: 15px;
     background: var(--07407B, #07407B);
     padding: 0 15px;
     color: white;
     font-size: 16px;
     border: none;
 }