@import "Common.scss";

.form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.input_custom {
    position: relative;
}

.input-container {
    // margin-top: 24px;

    input {
        width: 100%;
        height: 45px;
        border-radius: 5px;
        border: 1px solid var(--09224B, rgba(9, 34, 75, 0.22));
        background: #FFF;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 10px 15px;
    }

    input:disabled,
    input:read-only {
        background-color: #f0f0f0 !important;
        color: #666 !important;
        cursor: not-allowed;
    }
}

.error_message {
    color: var(--ff-2237, #FF2237);
    font-size: 14px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    left: 0px;
}

// .btn-submit {
//     display: flex;
//     width: fit-content;
//     min-width: 120px;
//     height: 40px;
//     padding: 10px;
//     justify-content: center;
//     align-items: center;
//     gap: 10px;
//     border: 1px solid;
//     border-radius: 25px;
//     background: #5657FF;
//     color: $white;
// }

//custom dropdown
.account-roles {
    >div {
        div:first-child {
            >label {
                border-radius: 5px !important;
                border: 1px solid var(--09224B, rgba(9, 34, 75, 0.22)) !important;
                background: #FFF !important;
                box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25) !important;
            }
        }

        div:nth-child(2) {
            label:first-child {
                display: none;
            }
        }
    }
}