.Dialog-content {
     width: 320px;
     height: 250px;
     background-color:#fff;
     border-radius: 8px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.Icon_Dialog {
     width: 90px;
     height: 90px;
     background-color: #5CBBFF;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;

}
.Content {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 24px;
}
.Title_Dialog-success {
     color: var(--5CBBFF, #5CBBFF);
     font-size: 18px;
     font-weight: 700;
}