@import 'Common.scss';

.pw-setting{
    margin: 0px 56px;
}

.title{
    text-align: center;
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: $fontBold;
    line-height: normal;
    color: $titleColor;
}

.form-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    min-height: 70px;
}

.form-item input{
    margin-bottom: 3px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--09224B, rgba(9, 34, 75, 0.22));
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

input::placeholder{
    color: var(--848484, #848484);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.request-pw{
    display: flex;
    flex-direction: column;
}

.request-title{
    color: var(--414042, #414042);
    font-size: 14px;
    font-weight: $fontNormal;
    line-height: normal;
}

.request-item{
    color: var(--848484, #848484);
    font-size: 12px;
    font-weight: $fontNormal;
    line-height: 20px;
}

.action{
    text-align: center;
}

.btn-action{
    margin-top: 32px;
    min-width: 120px;
    padding: 10px;
    background-color: transparent;
    border: 0.1px solid $titleColor;
    text-align: center;
    color: $titleColor;
    border-radius: 25px;
    font-size: 16px;
    font-weight: $fontWeight;
    line-height: normal;
}

.btn-action:hover{
    background-color: $titleColor;
    color: $white;
}

.error-message{
    color: red;
    font-size: 12px;
    text-align: left;
    margin: 0;
}

@media screen and (max-height: 650px){
    .btn-action{
        margin-top: 24px;
    }
}