@import "Common.scss";

.btn-cancel {
    border: none;
    display: flex;
    min-width: 119px;
    width: fit-content;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 25px;
    background-color: white;
    border: 1px solid $mainColor;
    color: $mainColor;
}