@import 'Common.scss';

.section-action {
    margin-right: 80px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-name {
    color: $textColor;
    font-size: 20px;
    font-weight: $fontBold;
}

.section-item {
    margin: 0 80px 40px 80px;
}

.item-title {
    color: $textColor;
    font-size: 16px;
    font-weight: $fontNormal;
    margin-bottom: 5px;
    font-weight: 600;
}

.video-url {
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.styles-video-url {
    width: 100%;
}

.btn-edit {
    border: 1px solid #0e0f3b !important;

    svg {
        path {
            fill: #0e0f3b;
        }
    }
}

.btn-edit:hover {
    background-color: #0e0f3b;

    svg {
        path {
            fill: $white;
        }
    }
}
